
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#mainpag{
    height: 50vh;
    width: 100vw;
    background: green;
    display: flex;
    align-items: center;
    justify-content: center;
}